.portfolio-tile {
  background-color:rgba(22, 27, 34, 1) ;
  color: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: left;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.preview-img {
 max-width: 100%;         /* Ensures image doesn't overflow its container */
  height: auto;            /* Maintains aspect ratio */
  border-radius: 16px;
  margin-bottom: 1rem;
  display: block;          /* Removes inline spacing issues */
  object-fit: cover; 
}

.tile-title {
  font-size: 2rem;
  margin: 0;
}

.tile-subtitle {
  font-size: 1.2rem;
  color: #d4ff00;
  margin: 0.3rem 0 1rem 0;
}

.tile-description {
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.tech-icons {
  display: flex;
  gap: 1rem;
}

.tech-icons img {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 767px){
  .portfolio-tile{
    margin-top: 1.2rem ;
    width: 80%;
    margin-left: 0;
    flex: 0 0 85vw;               /* Fixed width relative to screen */
  max-width: 85vw;   
  }
  
.tile-title {
  font-size: 1.5rem;
  margin: 0;
}

.tile-subtitle {
  font-size: 1rem;
  color: #d4ff00;
  margin: 0.3rem 0 1rem 0;
}
.tile-description {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.tech-icons img {
  width: 30px;
  height: 30px;
}

}